{% extends 'base.html' %}

{% block content %}
<div class="about wow fadeInUp bg-light" data-wow-delay="0.1s" id="about">
            <div class="container">
                <h1 style="text-align: center; font-weight: bold;font-size:70px" class="mt-3">About Us</h1>
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="about-img">
                            <img src="https://static.thenounproject.com/png/2641567-200.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <div class="section-header text-left">
                            <h1 style="color: red;">Welcome to Image Collection</h1>
                            <h2>Photos for everyone</h2>
                        </div>
                        <div class="about-text">
                            <p style="font-size: 30px;">
                                We are providing the images with different
                                images differentiate with categories to get images easily.
                                We’re the place where audience can get source of images for creativity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock content %}